body {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#calculator-body {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 600px;
    width: 450px;

    border: 1px solid black;
    border-radius: 10px;
    gap: 22px;
    padding: 22px 11px; 
    background-color: rgb(207, 207, 207);         /* make this color and button-container color the same */
}

#display {
    display: flex;
    align-items: center;

    background-color: rgb(189, 166, 137);
    width: 420px;
    height: 75px;
    padding: 10px;
    border-radius: 12.5px;
    border: 1px solid black;

    
    direction: rtl;
}

#displayNum {
    font-family: 'Roboto', sans-serif;
    font-size: 48px;

}


#button-container {
    background-color: rgb(207, 207, 207);
    width: 420px;
    display: flex;
    height: 500px;
    flex-wrap: wrap;
    gap:2.2px;
    justify-content: space-between;
    align-items: center;
}

.btn {
    width: 100px;
    height: 70px;
    border-radius: 22px;
    font-size: larger;
    
}















/* btns and btn order */
#zero {
    width: 200px;
    height: 70px;
    order: 16;
}

#decimal {
    order: 17;
}
#equal {
    order :18;
}

#exponent {
    order: 2;
}
#add {
    order:3
}
#subtract {
    order: 7
}
#multiply {
    order: 11;
}
#divide {
    order: 15;
}

#nine {
    order: 14;
}

#eight {
    order: 13;
}

#seven {
    order: 12;
}

#six {
    order: 10;
}

#five {
    order: 9
}
#four {
    order: 8
}
#three{
    order: 6
}
#two {
    order: 5
}
#one {
    order: 4
}